* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  :root {
    --primary-color: #141414;
    --secondary-color: #474747;
    --text-color: #FFFFFF;
    --accent-color: #00ff00;
    --negative-color: #dc143c;
  }
  
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    
  }
  
  body {
    font-family: 'Urbanist', sans-serif;
  }
  
  h1 {
    font-weight: 800
  }

  body {
    height: 100%;
    background: black;
}

.login-screen-image {
    height: 100vh;
    display: none;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    height: 90dvh;
    gap: 1em;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
    font-size: 3rem;
    letter-spacing: 0.05em;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#message {
    color: var(--text-color);
    font-weight: 100;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

label {
    color: var(--text-color);
}

input {
    padding: 0.5em 0.2em;
    border-radius: 0.3em;
    border: 1px solid var(--secondary-color);
    background: none;
    color: var(--text-color);
    letter-spacing: 0.2em;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

button {
    padding: 1em 0.5em;
    color: black;
    background: var(--accent-color);
    border: none;
    border-radius: 2em;
    width: 100%;
    font-weight: 800;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

button:active {
    transform:translateY(10px);
}

button:hover {
    opacity: 50%;
}

#create-new-account-button {
    background: var(--accent-color);
}

.fa-play, .fa-pause {
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    padding: 1.1em;
}
.toggle-text {
    color: var(--accent-color);
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-transform: uppercase;
    font-weight: 100;
}


/* Styles for the loading container */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5); /*Semi-transparent overlay*/
    z-index: 9999; /* Ensure it's above other elements */
  }
  
  /* Styles for the loading spinner */
  .loading-spinner {
    border: 5px solid #f3f3f3; /* Light gray border */
    border-top: 5px solid var(--accent-color); /* Blue top border */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animation details */
  }
  
  /* Keyframes for the spin animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
 


/* media queries */
@media screen and (min-width: 540px) {
    button {
        max-width: 250px;
    }
    .input-section {
        align-items: flex-start;
    }

    #message {
        align-self: center;
    }
}

@media screen and (min-width: 700px) {
    .login-screen-image {
        display: block;
        width: 100%;
        object-fit:cover;
        object-position: center;
        

    }

    body {
        display: flex;
    }
    
    .login-left {
        width: 50%;
    }

    .login-right {
        width: 100%;
        padding: 2em;
    }

   input {
    max-width: 500px;
   }

   .login-section {
    display: flex;
   }

   h1 {
    text-align: start;
   }

   #message {
    align-self: auto;
   }
}